.Header-Container {
    margin: 5%;
    margin-top: 2%;
    text-align: center;
  }
  .header-text{
    height: 50px;
    margin: 25px;
    text-align: center;
    padding: auto;
    font-size: min(10vw, 150px);
    color: white !important;
    text-decoration: none;
  }