:root{
  --gradient: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--gradient);
}
html{
  height: 100%;
}

.intro-container{
  height: auto;
  width: 91%;
  background-color: white;
  border-radius: 5vw;
  padding: 2%;
  color: black;
  font-weight: bold;
  font-size: min(3vw, 50px);
  text-align: center;
}

.continue-container{
width: 95%;
height: auto;
margin-top: 5%;
display: grid;
grid-template-columns: auto auto auto;
column-gap: 2%;
}

.continue-button{
text-align: center;
justify-content: center;
text-decoration: none;
padding: 3%;
font-size: min(5vw, 80px);
font-weight: bold;
height: auto;
background-color: white;
border: 0.5vw solid white;
border-radius: 4vw;
mix-blend-mode: screen;
cursor: pointer;
}

.continue-button:hover {
transition: 0.2s;
background-color: transparent;
mix-blend-mode: normal;
color: white;
}