.intro-container{
    height: auto;
    width: 90%;
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    padding: 30px;
    padding-top: 25px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
  }