/* .continue-button{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 3%;
    font-size: 400%;
    font-weight: bold;
    width: 73%;
    height: auto;
    background-color: white;
    border: 0.5vw solid white;
    border-radius: 4vw;
    mix-blend-mode: screen;
    cursor: pointer;
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2);
    } */