.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    column-gap: 4%;
    row-gap: 3vw;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 13vw;
    height: 20vw;
    padding: 7%;
    border-radius: 2vw;
    transition: 0.4s;
    font-weight: 17vw;
    cursor: pointer;
}

.flipped-card {
    background-color: red;
}

.project-card:hover {
    transform: scale(1.1,1.1);
}

.project-link {
    cursor: default;
    text-decoration: none;
    width: 13vw;
    height: min-content;
    margin-bottom: 0px;
}

.project-img {
    max-width: 13vw;
    height: auto;
}

.project-description {
    font-size: 1.5vw;
    text-align: center;
}

