.resume-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.resume-download {
    background-color: white;
    padding: 5%;
    max-width: 80%;
    border-radius: 3vw;
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2);
    margin: 2%;
    margin-top: 0%;
    font-size: 200%;
}

.resume-background {
    background-color: white;
    padding: 2%;
    padding-bottom: 0%;
    padding-top: 1%;
    width: 95%;
    height: auto;
    border-radius: 2vw;
    box-shadow: 0 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.2);
    
    margin: 2%;
}

.resume-img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    
    .resume-background{
        opacity: 0;
    }
}