:root{
  --gradient: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--gradient);
}
html{
  height: 100%;
}
.Header-Container {
  margin: 5px;
  text-align: center;
  height: 200px;
}
.Header-Text{
  height: 50px;
  margin: 25px;
  text-align: center;
  padding: auto;
  font-size: 100px;
  color: white;
}
.Intro-Container{
  height: auto;
  width: 90%;
  border: 1px solid white;
  background-color: white;
  border-radius: 50px;
  margin: auto;
  padding: 30px;
  padding-top: 25px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.Continue-Container{
  width: 95%;
  border-radius: 50px;
  margin: auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.Continue-Card{
  text-align: center;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  height: auto;
  margin: 10px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50px;
  mix-blend-mode: screen;
  cursor: pointer;
}
.Continue-Card:hover {
  background-color: transparent;
  mix-blend-mode: normal;
  color: white;
}
.Continue-Resume{
  margin-left: 25px;
  margin-right: 0px;
}
.Continue-Projects{
  margin-left: 25px;
  margin-right: 25px;

}
.Continue-About-Me{
  margin-left: 0px;
  margin-right: 25px;
}
.Continue-Button{
  cursor: pointer;
}